.container {
  background-color: #ffffff;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 50px;
}

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.navItem {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.signUp {
  display: flex;
  align-items: center;
  padding: 5px 10px; /* İç boşluk */
  border: 2px solid #212832;
  background-color: #ffffff; /* Arka plan rengi */
  gap: 5px; /* İçerikler arasında boşluk */
}

.signUp p {
  margin: 0;
}

.navItem div {
  display: flex;
  align-items: center; /* Ortalamayı sağlar */
  gap: 4px; /* Yazı ile SVG arasındaki boşluk */
}

.navItem p {
  margin: 0;
}

.navItem svg {
  display: inline-block;
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  gap: 5px;
  background-color: #ffffff;
  margin-top: 30px;
}
.image1 {
  width: 500px; /* İlk resmin genişliği */
  height: auto;
}

.image2 {
  width: 400px;
  height: auto;
}

.image3 {
  display: flex;
  justify-content: center;
  padding-left: 230px;
  margin-top: 30px;
  height: auto;
}

.image4 {
  display: flex;
  justify-content: center;
  padding-left: 230px;
  margin-top: 30px;
  height: auto;
}

.image5 {
  display: flex;
  justify-content: center;
  padding-left: 300px;
  margin-top: 30px;
  height: auto;
}
.image7 {
  display: flex;
  justify-content: center;
  padding-left: 300px;
  margin-top: 30px;
  height: auto;
}
.image8 {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  margin-top: 30px;
  height: auto;
  width: 90%;
}
.image9 {
  display: flex;
  justify-content: center;
  padding-left: 400px;
  margin-top: 30px;
  height: auto;
  width: 100%;
}
